@inherits UmbracoViewPage<IEnumerable<IPublishedContent>>

<div class="col-1 col-gap-6 sm:col-2 md:col-3">
    @foreach (var node in Model)
    {
        @await Html.PartialAsync("ProductListItem", node)
    }
</div>