@using Vendr.Core.Models;
@using Vendr.Core.Api;
@inherits UmbracoViewPage
@{ 
    var store = Model.Value<StoreReadOnly>("store", fallback: Fallback.ToAncestors);
    var currentOrder = VendrApi.Instance.GetCurrentOrder(store.Id);
}
<a href="/cart" class="hover:text-green-400"><i class="fa fa-shopping-cart"></i> @(currentOrder != null ? currentOrder.TotalQuantity.ToString("0") : "0")</a>