<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <packageSources>
                <add key="NuGet" value="https://nuget.org/api/v2/" />
                <add key="Vendr (Unstable)" value="https://nuget.outfield.digital/unstable/vendr/v3/index.json" />
        </packageSources>
</configuration>